@import "../global-scss/variables.scss";

.list-series-container {
    min-height: rem(960px);
  margin: 0 auto;
  padding-top: rem(48px);
  padding-bottom: rem(60px);
  max-width: rem(1490px);
}

.list-series-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(160px), max-content));
  grid-gap: rem(30px);
  width: 100%;
}

.list-series-tag {
  color: $color-black-1;
  font-weight: $fw-medium;
  margin-bottom: rem(23px);
  width: 100%;
  font-size: $fs2;
}

@media screen and (max-width: rem(1670px)) {
  .list-series-container {
    min-height: rem(960px);
    max-width: rem(1110px);
  }
}

@media screen and (max-width: rem(1250px)) {
  .list-series-container {
    min-height: rem(960px);
    max-width: rem(920px);
  }
}

@media screen and (max-width: rem(1050px)) {
  .list-series-container {
    min-height: rem(960px);
    max-width: rem(730px);
  }
}

@media screen and (max-width: rem(850px)) {
  .list-series-container {
    min-height: rem(960px);
    max-width: rem(540px);
  }
}

@media screen and (max-width: rem(600px)) {
  .coinlist-series-containertainer {
    max-width: rem(350px);
  }
}
