@import "@components/global-scss/variables";

.biggest {
    font-family: $font-euclid-regular;
  }
  .create-episode-content {
    padding: rem(36px) 12% rem(50px) 12%;
    border-bottom: 1px solid $color-gray-11;
  }
  
  .episode-option {
    margin-bottom: rem(12px);
  }
  
  .serie-detail-header {
    font-size: rem($fs4);
    line-height: rem($lh2);
    font-weight: $fw-bold;
  }
  
  .episode-option-header {
    font-weight: $fw-bold;
    font-size: rem($fs4);
    line-height: rem($lh4);
  }
  
  .episode-option-detail {
    font-weight: $fw-normal;
    font-size: rem($fs1);
    line-height: rem($lh2);
    color: $color-light-black;
    margin-bottom: rem(20px);
    margin-top: rem(7px);
  }
  
  .ant-form-item-label > label {
    color: $color-black;
  }
  
  .file-upload {
    width: 100%;
    height: rem(485px);
    margin-bottom: rem(50px);
  }
  .ant-radio-button-wrapper-checked {
    color: $color-lighter-black !important;
    background: $color-bolder-white !important;
    border: rem(1px) solid $color-light-orange !important;
    box-sizing: border-box;
    border-radius: rem(2px) !important;
  }
  .serie-info-ep {
    flex-direction: column;
    margin-bottom: rem(40px);
    margin-top: rem(23px);
    margin-left: 0px;
  }
  .serie-info-ep > div > div {
    font-size: rem($f16);
    line-height: rem($lh2);
  }
  .serie-info-ep > div:first-child {
    margin-bottom: rem(34px);
  }
  .serie-info-ep > div > div:first-child {
    margin-bottom: rem(13px);
  }
  .serie-title .title {
    color: $color-blue-2;
    font-weight: $fw-bold;
  }
  .react-pdf__Document {
    height: 80% !important;
  }
  
  .thumbnail-video {
    width: rem(370px);
    height: rem(213px);
  }
  
  .thumbnail-video-detail {
    margin-top: rem(50px);
  }
  
  .thumbnail-music {
    width: rem(370px);
    height: rem(370px);
  }
  
  .serie-cover {
    width: 100%;
    height: rem(485px);
    border-top: none !important;
  }
  
  .thumbnail-cover {
    width: rem(350px);
    height: rem(350px);
  }
  
  .serie-detail {
    padding: rem(50px) 12% rem(80px) 12%;
  }
  
  .serie-detail-header {
    font-weight: bold;
    font-size: rem($fs4);
    line-height: rem($lh4);
    color: $color-black;
  }
  
  .thumbnail-detail {
    display: flex;
    padding-top: rem(12px);
    padding-bottom: rem(40px);
  }
  
  .thumbnail-cover-convention {
    margin-top: rem(18px);
    margin-left: rem(23px);
    background: $color-white;
    box-shadow: 0px rem(6px) rem(12px) rgba(213, 213, 213, 0.25);
    padding: rem(18px) rem(90px) rem(23px) rem(38px);
    height: rem(161px);
    width: rem(486px);
    font-weight: $fw-normal;
    font-size: rem($fs1);
    line-height: rem($lh3);
    color: $color-light-black;
    list-style: none;
  
    .convention-item::before {
      content: "\2022";
      color: $color-bg;
      font-weight: $fw-bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
  
  .category-detail {
    padding-top: rem(17px);
  }
  
  .sub-category-info {
    margin-top: rem(24px);
    font-size: rem($fs1);
    line-height: rem($lh2);
    margin-bottom: rem(16px);
    .sub-category {
      font-weight: $fw-semiBold;
    }
  }
  .preview-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(113px);
    height: rem(39px);
    border: rem(1px) solid $color-gray-5;
    box-sizing: border-box;
    .preview-btn-img {
      margin-top: rem(7px);
      margin-right: rem(8px);
    }
    cursor: pointer;
  }
  
  .custom-serie-btn {
    display: flex;
    margin-left: auto;
    justify-content: center;
    margin-top: rem(10px);
    margin-bottom: rem(100px);
  }
  
  .create-serie {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .cart-divider {
    background-color: $color-gray-11;
  }
  
  .serie-btn {
    background-color: $color-blue-9 !important;
    border-radius: 2px !important;
    border: 1px solid $color-blue-2 !important;
  }
  
  .serie-btn::before {
    content: none !important;
  }
  .radio-value {
    position: relative;
  }
  
  .checked-icon {
    position: absolute;
    top: rem(-2px);
    right: rem(-16px);
  }
  
  .convention-valid {
    color: green;
  }
  
  .convention-invalid {
    color: $color-red;
  }
  
  .error-msg-input {
    font-weight: normal;
    font-size: $f9;
    line-height: rem($lh3);
    color: $color-red3;
  }
  
  .error-border {
    border: rem(1px) solid $color-red3;
    border-radius: rem(1px);
  }
  
  @media screen and (max-width: 1080px) {
    .thumbnail-cover-convention {
      height: rem(300px);
      padding-right: rem(18px);
    }
  }
  
  .episode-option-type {
    font-weight: $fw-bold;
    font-size: $fs1;
    line-height: $lh2;
  }
  
  .episode-type {
    margin-top: rem(40px);
  }
  
  .upload-episode {
    margin-top: rem(20px);
  }
  
  .button {
    width: rem(160px);
    height: rem(40px);
    text-align: center;
    font-size: $fs1;
    font-weight: $fw-bold;
    line-height: $lh2;
  }
  
  .confirm-button {
    margin-right: auto;
    width: rem(160px);
  }
  
  .cancel-button {
    align-items: right;
    width: rem(160px);
    margin-left: auto;
    margin-right: rem(30px);
  }
  
  .active-save {
    background: $color-blue-2;
    color: $color-white;
  }
  
  .thumbnail-bottom {
    margin-top: rem(54px);
  }
  
  .switch-tab {
    display: flex;
    font-size: rem($fs1);
    line-height: rem($lh2);
    font-weight: $fw-bold;
    margin-bottom: rem(60px);
    .switch-tab-item {
      letter-spacing: rem(0.2px);
      // margin-right: rem(126px);
      padding-bottom: rem(27px);
      width: rem(254px);
      .switch-tab-rank {
        display: inline-block;
        margin-right: rem(12px);
        padding: rem(3px) rem(9px);
        border-radius: 50px;
        background: $color-blue;
        color: $color-white;
      }
    }
    .switch-tab-active {
      border-bottom: 3px solid $color-blue-2;
      .switch-tab-rank {
        background: $color-blue-2;
      }
    }
  }
  
  .input-before-prv {
    color: $color-red-1;
    font-family: $font-euclid-regular;
    font-style: normal;
    font-weight: normal;
    font-size: $fs1;
    line-height: $lh2;
    /* identical to box height, or 150% */
  
    letter-spacing: 0.2px;
    margin-left: rem(38px);
  
    .text {
      margin-left: rem(14px);
    }
  }
  
  .category {
    padding-bottom: rem(40px);
    .cate-title {
      margin-top: rem(24px);
    }
    .serie-btn {
      margin-top: rem(12px);
      width: rem(110px);
      text-align: center;
      background-color: $color-gray-14 !important;
      border-radius: 2px !important;
      border: 1px solid $color-gray-15 !important;
    }
    .active {
      background-color: $color-blue-9 !important;
      border-radius: 2px !important;
      border: 1px solid $color-blue-2 !important;
    }
    .serie-btn::before {
      content: none !important;
    }
    .radio-value {
      position: relative;
    }

    .checked-icon {
      position: absolute;
      top: 0;
      right: 0;
    }

    .error-msg {
      margin-top: rem(4px);
      color: $color-red-1;
    }
  }