@import "@components/global-scss/variables.scss";

.modal-common {
  font-style: normal;
  letter-spacing: rem(0.2px);
  padding-left: rem(30px);
  padding-right: rem(26px);

  font-family: $font-euclid-regular;

  .center-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.success-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(38px);
  width: rem(56px);
}

.success-messages {
  text-align: center;
  font-weight: bold;
  font-size: rem(18px);
  line-height: $lh2;
  color: $color-black;
  display: inline;
}

.save-active {
  background: $color-blue-2;
  color: $color-white;
}

.modal-header {
  text-align: center;
  font-weight: bold;
  font-size: $fs3;
  line-height: rem(30px);
  color: $color-light-black;
  margin: 0 auto rem(50px) auto;
}

.edit-notify {
  font-weight: 500;
  font-size: $fs1;
  line-height: $lh2;
  letter-spacing: rem(0.2px);
  margin-top: rem(-15px);
  color: #d13434;
}

.custom-modal-footer {
  display: flex;
  justify-content: center;

  .save-active-margin-right {
    background: $color-light-orange;
    color: $color-white;
    margin-right: rem(30px);
  }

  .cancel-not-margin {
    border: rem(1px) solid $color-light-gray;
  }
}

.footer-button {
  margin-top: rem(26px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: rem($fs1);
  line-height: rem($lh2);
  width: rem(160px);
  height: rem(40px);
  cursor: pointer;
}
.cancel {
  border: rem(1px) solid $color-light-gray;
  margin-right: rem(30px);
}

.err-msg {
  display: inline-block;
  margin-top: rem(9px);
  color: $color-red3;
  font-size: rem($fs1);
  line-height: rem($lh2);
  position: absolute;
    top: 100%;
    left: 0;
}

.valid-username {
  color: $color-blue;
}

.edit-username-box {
  padding-left: rem(6px);
  padding-right: rem(6px);
  padding-top: rem(5px);
  margin-bottom: rem(10px);
  width: rem(552px);
  margin-left: rem(66px);
  margin-right: rem(66px);
}

.edit-user-footer {
  margin-top: rem(72px);
  margin-bottom: rem(10px);
}

.input-item {
  text-decoration: none;
  height: rem(40px);
}
