@import "@components/global-scss/variables.scss";

.serie-component {
  //   font-family: Helvetica Neue;
  width: rem(160px);
  position: relative;
}

.serie-image {
  height: rem(160px);
  width: rem(160px);
}

.serie-name {
  display: inline-block;
  font-weight: $fw-medium;
  font-size: rem($fs2);
  line-height: rem($lh1);
  color: $color-black-1;
  margin-top: rem(9px);
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.serie-creator-name {
  display: inline-flex;
  font-style: normal;
  font-weight: $fw-normal;
  font-size: rem($fs1);
  //line-height: rem($lh7);
  color: $color-gray-1;
  margin-left: rem(8px);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  white-space: nowrap;
}

.serie-detail {
  display: inline-flex;
  flex-shrink: 3;
}
.serie-heart {
  display: inline-block;
}

.favorite-icon {
  display: flex;
  align-items: center;
  font-size: rem(15px);
  margin-bottom: rem(3px);
}

.color-red {
  color: $color-red-1;
}

.float-right {
  display: flex;
  float: right;
}

.cursor_pointer {
  cursor: pointer;
}

.ml-30 {
  margin-left: rem(30px);
}

.ml-30-mt-42 {
  //margin-left: rem(15px);
  margin-right: rem(15px);
  margin-top: rem(42px);
}

.bottom-detail {
  display: inline-flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}

.creator-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.avatar-creator {
  width: rem(18px);
  height: rem(18px);
  border-radius: rem(18px);
}

.flex-end {
  align-items: flex-end;
}

.ml-16 {
  margin-left: rem(16px);
}

.edit-btn, .close-btn {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: rem(-10px);
  cursor: pointer;
}

.close-btn {
  left: rem(150px);
}

.edit-btn {
  left: rem(120px);
}
